@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200&family=Open+Sans&family=Play&display=swap');

:root {
	--c1:#03045e;
	--c2:#0077b6;
	--c3:#00b4d8;
	--c4:#90e0ef;
	--c5:#caf0f8;
}

html, body {
	width: 80%;
	font-family: 'Play', sans-serif;
	margin: 0 auto;
}

header {
	width: 100%;
	border-radius: 20px;
	background-color: var(--c5);
	vertical-align: middle;
	position: sticky;
	top: 0;
	display: flex;
	justify-content: space-between;
}

header img {
	margin: 20px;
	vertical-align: middle;
}

header ul {
	float: right;
	padding-inline-start: 0px;
	margin-right: 30px;
	margin-top: 30px;
}

header li {
	list-style-type: none;
	display: inline;
	padding: 30px 30px;
	text-transform: uppercase;
	color: var(--c1);
}

header span {
	font-size: 2em;
	font-weight: bold;
	color: var(--c1);
}

.middle {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

section {
	display: flex;
	flex-wrap: wrap;
}

article {
	border: 5px solid var(--c4);
	border-radius: 20px;
	padding: 5px;
	margin: 5px;
	flex: 200px;
}

aside {
	display: flex;
	justify-content: center;
	flex-direction: column;
	border: none;
	background-color: var(--c2);
	color: white;
	font-weight: bold;
	padding:20px;
	border-radius: 20px;
	margin: 5px;
}

aside div {
	/* If removed, moves text down */
	width: 100px;

}

aside div img {
	padding: 10px 10px 10px 0px;
	vertical-align: middle;
}

footer {
	width: 100%;
	border-radius: 20px;
	background-color: var(--c1);
	display: flex;
	flex-direction: column;
	align-items: center;
	color: var(--c5);
}

footer div:last-child {
	margin-bottom: 20px;
}

footer ul {
	padding-inline-start: 0px;
}

a {
	color: var(--c5);
	text-decoration: none;
	font-size: large;
}

a:hover {
	color: var(--c1);
  }

header ul  a {
	color: var(--c5);
	text-decoration: none;
	font-size: large;
}

header ul a:hover {
	color: var(--c1);
	background-color: var(--c4);
	font-weight: bold;
	padding: 10px;
}

.social-media li {
	display: inline;
}

.social-media li img {
	padding-left: 10px;
}

.section-register {
	display: flex;
}

form {
	padding: 20px;
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	border: 5px solid var(--c5);
	height: 400px;
	border-radius: 20px;
	margin: 5px;
}

form div {
	align-self: flex-end;
}

.button {
	background-color:var(--c3);
	border-radius:8px;
	border: none;
	display:inline-block;
	cursor:pointer;
	padding:13px 32px;
	font-family: 'Play', sans-serif;
	font-size: larger;
}
.button:hover {
	background-color:var(--c2);
	color: white;
}
.button:active {
	position:relative;
	top:2px;
	/* Doesn't remove border when clicked */
	border-radius:8px;
	border: none;
}

input[type="text"],[type="email"],[type="password"] {
	height: 26px;
	margin-left: 10px;
	border: 1px solid var(--c2)
}

input[type="text"]:focus{
	/* Remove black line */
	color: black; /* dummy instruction */
}

.user-info {
	border: 5px solid var(--c5);
	border-radius: 20px;
	margin: 5px;
	align-self: flex-start;
	padding: 20px;
}

.user-info img {
	display: flex;
	flex-direction: column;
	border: 2px solid var(--c1);
	padding: 10px;
}

p.profile-title{
	font-weight: bold;
	font-size: 1.25em;
}

.home {
	text-align: right;
	text-transform: uppercase;
}

.home a {
	color: var(--c3)
}

.home a:hover {
	color: var(--c4);
	padding: 5px;
	background-color: var(--c1);
	border-radius: 5px;
}

.middle section form div {
	display: flex;
	align-items: flex-start;
}

.middle section form div label:first-child {
	margin-right: 20px;
}